.pill {
  display: inline-block;
  padding: 0.3rem 0.35rem;
  font-size: get-size('400');
  text-decoration: none;
  line-height: 1;
  white-space: nowrap;
  text-align: center;

  // Apply a default background colour if no token set
  &:not([class*='bg-']) {
    background: get-color('grey');
  }

  // Capitalize only in english
  [lang*='en'] & {
    text-transform: capitalize;
  }
}
