.summary {
  padding: get-size('500') get-size('500') get-size('600') get-size('500');
  line-height: 1.1;

  dl,
  dt {
    --flow-space: #{get-size('700')};
  }

  dd {
    --flow-space: #{get-size('300')};
  }
}
